.nav{
	.nav-item{ padding-left: 15px;}
}

.header{
    background-color:black;
    padding: 10px 20px;
    color:white;
}

.app-logo{
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    height:40px;

}